{
  "singleQuote": true,
  "printWidth": 100,
  "importOrder": ["\\./.+js$", "(c|sc)ss$", "json$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false
}
