body {
    margin: 0px;
    padding: 0px;
}

.app-root {
    min-height: 100vh;

    .content {
        padding: 1em;
    }
}

.flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex: 1;
}